<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
  
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/43759527_10213034866809658_7674625852327329792_n.jpg?_nc_cat=102&_nc_sid=174925&_nc_ohc=GsG5iRjQ0GAAX_LcsXb&_nc_ht=scontent-lga3-1.xx&oh=d40d36c5f3f3e2d31d389d4ddd6dec3c&oe=5F98DFC8')
          .cell.auto

            //- Add your name here.
            h5 Evan Picone

            //- Add text here to describe who you are, what you do, and why you are so awesome.
            p.text-light
              | I'm a motivated and proactive learner with a high level of attention to detail. Click below to learn more about me.

            //- Add about page route to the href below. 
            a(href='/about') Learn More →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          //- Add your name here.  This is for the mobile screen sized version.
          span.title-bar-title Evan Picone
      block content
        

      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
